Flask==3.0.3
google-api-python-client==2.154.0
numpy==1.26.4
openai==0.28.0
openai-whisper @ git+https://github.com/openai/whisper.git@90db0de1896c23cbfaf0c58bc2d30665f709f170
python-dotenv==1.0.1
tmdbv3api==1.9.0
youtube-transcript-api==0.6.3
yt-dlp==2024.12.6
